@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.flex-custom-1 {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-custom-1-65 {
  flex-grow: 1.65;
  flex-basis: 0;
}

.flex-custom-25 {
  flex-grow: 2.5;
  flex-basis: 0;
}

.flex-custom-1-4 {
  flex-grow: 1.4;
  flex-basis: 0;
}

.flex-custom-2-1 {
  flex-grow: 2.1;
  flex-basis: 0;
}

.flex-custom-1-2 {
  flex-grow: 1.2;
  flex-basis: 0;
}

.flex-custom-1-9 {
  flex-grow: 1.9;
  flex-basis: 0;
}

.flex-custom-2-1 {
  flex-grow: 2.1;
  flex-basis: 0;
}

.flex-custom-2-3 {
  flex-grow: 2.3;
  flex-basis: 0;
}

.logo-left-margins{
  margin-left:18vw;
}

@media (max-width: 1400px){
  .logo-left-margins{
    margin-left:6vw;
  }
}

@media (max-width: 912px){
  .hideOnMobile {
    display:none;
  }

  html {
    font-size: 80%; /* 1rem = 10px */
  }
}

@media (min-width: 913px) {
  .hideOnDesktop {
    display:none;
  }
}

.button-enlarge-sm {
  transition: transform 0.2s ease-in-out;
}

.button-enlarge-sm:hover {
  transform: scale(1.05);
}


.button-enlarge-md {
  transition: transform 0.2s ease-in-out;
}

.button-enlarge-md:hover {
  transform: scale(1.1);
}

.custom-button {
  background-color: #FFFFFF;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  border-radius: 1px;
  outline: 1px solid black;
  font-size: 1rem;
  width: 10.66rem;
  height: 3rem;
}

.custom-button:hover {
  background-color: #000000;
  color: white;
}

